/* Banner  */
.hero-section {
  background: url('/agency-reportcard/public/council+adams.jpg') 50% no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/* report button */

.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 0 0 1rem;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #2f56a6;
  color: #fff;
}

.btn:hover {
  background-color: #e6dcca;
  color: black;
}

/* department dropdowns with chevron */
.dept {
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #2f56a6;
  color: white;
  text-wrap: nowrap;
}

.dept:hover {
  border-radius: 1rem;
  background-color: #e6dcca;
  color: black;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.chevron {
  transition: transform 0.25s ease-in-out; /* Smooth transition for 0.5s */
}

.chevron.rotate {
  transform: rotate(180deg); /* Rotates the icon 180 degrees */
}

/* test */

.multilevel-accordion-menu .is-accordion-submenu a {
  background: #35383d;
}

.multilevel-accordion-menu .sublevel-1 {
  text-indent: 1rem;
}

.multilevel-accordion-menu .sublevel-2 {
  text-indent: 2rem;
}

.multilevel-accordion-menu a {
  color: #fefefe;
}

.multilevel-accordion-menu a::after {
  border-color: #fefefe transparent transparent;
}

.multilevel-accordion-menu .menu > li:not(.menu-text) > a {
  padding: 1.2rem 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded='true'] a::before {
  content: '\f07c';
  font-family: FontAwesome;
  margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded='false'] a::before {
  content: '\f07b';
  font-family: FontAwesome;
  margin-right: 1rem;
}

/* image logo of depts */
.logo {
  object-fit: contain;
  width: 150px !important;
  height: 100px !important;
}



/*      modal           */

.mobile-ios-modal {
  max-height: 80vh;
  /* max-width: 100%; */
  max-width: 100vh;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mobile-ios-modal-inner {
  padding: 0.5rem 0.5rem 1.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reveal-overlay{
  overflow: hidden;
}

.mobile-ios-modal-options {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mobile-ios-modal-options .button {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin-bottom: 0;
  color: #1779ba;
  background: transparent;
  border-color: #e6e6e6;
  border-bottom: 0;
}

.mobile-ios-modal-options-stacked .button {
  display: block;
  width: 100%;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin-bottom: 0;
  color: #1779ba;
  background: transparent;
  border-color: #e6e6e6;
  border-bottom: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button span {
  font-weight: bold;
  color: #000;
}


/* miscellaneous */

.speaker-dear {
  font-size: larger;
  font-weight: bolder;
}

h4 {
  /* display: block; */
  margin: auto;
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  height: 2rem;
  font-size: 1.1rem;
  line-height: 0.01rem;
  color: #fff;
  text-decoration: none;
  background-color:   #2f56a6;  /* #00a0c8; */
  border-radius: 1rem;
  padding-bottom: 5px;
}

h5 {
  padding-left: 0px;
  margin-left: 0px;
  max-width: 475px;
  font-weight: bolder;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.pillars-container ul {
  text-wrap: nowrap;
}


.pillars-container button, .pillars-container button::after {
  all: unset;
}


.pillars-container button {
  background-size: cover;
  border-radius: .2rem !important;
  transition: background-color 0.25s ease-out, color 0.25s ease-out !important;
}

.pillars-container button:hover {
  max-width: fit-content;
  cursor: pointer;
  background-color: rgba(23, 121, 186, 0.8) !important; /* #00a0c8; */  /* #2f56a6 */
  color: white !important;
}


.wp-block-heading {
  margin-left: 5rem;
}

.fix a {
  max-width: 300px;
}

.fix {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}



.infographic-1 {
  width: 600px;
  height: auto;
}

.reveal h5 {
  margin: auto;
  text-align: center;
}
.reveal {
  width: 1200px !important;
}

.report {
  margin: auto;
  object-fit: cover;
  width: 500px;
  height: 450px;
}


/* Rubric grading table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 15px;
  text-align: left;
  border: 1px solid #dddddd;
}

th {
  background-color: #1E385B;
  color: white;
}

td ul {
  list-style-type: none;
  padding-left: 0;
}

td ul li {
  margin-bottom: 8px;
  padding-left: 10px;
  text-indent: -10px;
  position: relative;
}

td ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: black;
}

/* Styles for indicator levels */
.leading {
  background-color: #72B439;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.embedding {
  background-color: #FFD966;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.developing {
  background-color: #AF8439;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.weak {
  background-color: #D54E4A;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.unable-to-rate {
  background-color: #4F4F4F;
  color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}


.slide {
  display: none;
}

.letter {
  width: 150px;
  /* height: 150px; */
}



/* MD tabs foundation */




/* image logo of depts */
.logo {
  object-fit: contain;
  width: 150px !important;
  height: 100px !important;
}

/* MD tabs foundation */



.tabs-container {
  display: flex!important;
max-height: 256px;
}

.tabs-title img {
  /* height: auto;  */
  margin: 0 auto;
}

.tabs-title {
  overflow: visible; /* Ensure the content is fully visible */
}

.md-tabs > .tabs > .tabs-title {
  display: table-cell;
  width: 25%;
  text-align: center;
  display: inline-block;
}

.md-tabs > .tabs > .tabs-title.is-active > a {
  background-color: transparent;
  outline: none;
}

.summary .grid-x .large-6 p{
  margin-top: 2rem;
 }

.md-tabs > .tabs > .tabs-title > a {
  color: black;
  font-size: 16px;
}

.md-tabs > .tabs > .tabs-title > a:hover,
.md-tabs > .tabs > .tabs-title > a:focus {
  background: transparent;
}

.summary {
  margin: auto;
}

.summary h2 {
  width: fit-content;
  border-bottom: #2f56a6 1px solid;
  margin: auto;
  margin-bottom: 2rem;
}



.card.is-active ~ .slide {
  display: block;

  width: 23%;
  height: 4px;
  position: relative;
  left: 0;
  right: 20px;
  top: 385px;
  transition: left 0.3s ease-out;
}

.tabs .card {
  margin: 1rem;

  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.tabs{
  border: unset;
}

.is-active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #2f56a6;
  transform: translateY(-10px);
}

* {
  font-family:'Roboto' !important;
}

.fa {
  font-family: var(--fa-style-family,"Font Awesome 6 Free") !important;
}









/* miscellaneous */

#learn {
  margin: auto;
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    height: 2rem;
    font-size: 1.1rem;
    line-height: 0.01rem;
    color: #fff;
    text-decoration: none;
    background-color:   #2f56a6;  /* #00a0c8; */
    border-radius: 1rem;
    padding-bottom: 5px;
  }
  
    #pillar {
      font-weight: bolder;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
    }
    
    .pillars-container button, .pillars-container button::after {
      all: unset;
    }
    
    #pillar:hover {
      max-width: fit-content;
      cursor: pointer;
      background-color: rgba(23, 121, 186, 0.8) !important; /* #00a0c8; */  /* #2f56a6 */
      color: white !important;
    }
  
  
  /* default grading process link*/
  
  .image-hover-wrapper {
    position: relative;
  }
  
  .image-hover-wrapper a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .image-hover-wrapper a img {
    float: left;
    overflow: hidden;
    width: 100%;
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fefefe;
    display: inline;
    height: 100%;
    margin-left: -100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 80;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.25s;
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal:hover {
    opacity: 1;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
    opacity: 1;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: 0.25s;
  }
  
  .image-hover-wrapper a .image-hover-wrapper-reveal p {
    bottom: 0;
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .image-hover-wrapper a .fa {
    font-size: 24px;
  }
  
  .image-hover-wrapper .image-hover-wrapper-banner {
    background-color: rgba(23, 121, 186, 0.8);
    color: #fefefe;
    font-weight: 600;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    top: 25%;
    width: 75%;
    z-index: 10;
  }
  
  /* Rubric grading table */
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #dddddd;
  }
  
  th {
    background-color: #1E385B;
    color: white;
  }
  
  td ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  td ul li {
    margin-bottom: 8px;
    padding-left: 10px;
    text-indent: -10px;
    position: relative;
  }
  
  td ul li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: black;
  }
  
  /* Styles for indicator levels */
  
  .leading {
    background-color: #72B439;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  
  .embedding {
    background-color: #FFD966;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  
  .developing {
    background-color: #AF8439;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  
  .weak {
    background-color: #D54E4A;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  
  .unable-to-rate {
    background-color: #4F4F4F;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  
  /* Modal styling */
  
  .mobile-ios-modal {
    max-height: 80vh;
    max-width: 100vh;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .mobile-ios-modal-inner {
    padding: 0.5rem 0.5rem 1.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .reveal-overlay {
    overflow: hidden;
  }
  
  .mobile-ios-modal-options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .mobile-ios-modal-options .button {
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    margin-bottom: 0;
    color: #1779ba;
    background: transparent;
    border-color: #e6e6e6;
    border-bottom: 0;
  }
  
  .mobile-ios-modal-options-stacked .button {
    display: block;
    width: 100%;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    margin-bottom: 0;
    color: #1779ba;
    background: transparent;
    border-color: #e6e6e6;
    border-bottom: 0;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close-button span {
    font-weight: bold;
    color: #000;
  }
  
  /* image logo of depts and letters*/
  .logo {
    object-fit: contain;
    width: 150px; 
    height: 150px;
  }
  
  #youth {
    width:100% !important;
  }
  
  .letter {
    width:125px;
  }
  
  
  /* MD tabs foundation (cards tab component) */
  
  .tabs-container {
    display: flex!important;
    justify-content:space-evenly;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .tabs-container, .tabs-content {
    border:unset !important;
  }
  
  
  .tabs-title {
    overflow: hidden;
    display: block;
    width: 100%;
  }
  
  .md-tabs > .tabs > .tabs-title {
    display: table-cell;
    width: 25%;
    text-align: center;
    display: inline-block;
  }
  
  .md-tabs > .tabs > .tabs-title.is-active > a {
    background-color: transparent;
    outline: none;
  }
  
  
  .md-tabs > .tabs > .tabs-title > a:hover,
  .md-tabs > .tabs > .tabs-title > a:focus {
    background: transparent;
  }
  

  .tabs .card {
    margin: 1rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    overflow: hidden; 
  }
  
  .card.is-active ~ .slide {
    display: block;
    width: 23%;
    height: 4px;
    position: relative;
    left: 0;
    right: 20px;
    top: 385px;
    transition: left 0.3s ease-out;
  }
  
  .is-active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #2f56a6;
    transform: translateY(-10px);
  }
  
  /* Additional styling for summary sections */
  .summary {
    margin: auto;
  }
  
  .summary h2 {
    width: fit-content;
    border-bottom: #2f56a6 1px solid;
    margin: auto;
    margin-bottom: 2rem;
  }
  
  .summary .grid-x .large-6 p {
    margin-top: 2rem;
  }
  
  


.letter {
max-width:25% !important;
}
  
.dept {
max-width:25% !important;
}