/*--------------------------------------------------
  This file is called by the WordPress add_editor_style()
  function. It stlyes the WYSIWYG editor so that its
  typography matches that of the public view.
--------------------------------------------------*/

@import "settings";
@import "../../bower_components/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-table;


/*--------------------------------------------------
  The site's public view has a grey background and
  no margin. Let's make it white and give the editor
  pane some breathing room.
--------------------------------------------------*/
body {
  background: #fff;
  margin: 9px 10px;
  max-width: 100%;
}
