.dept {
  max-width:50%;
  height:100%
  }
  
  .tabs-a {
    width: 350px !important;
  }
  
  
  .tabs-container {
    display:flex;
    justify-content:center;
  }
  
  
  .youth{}
  .vet {}
  .park{}
  
   
  .tabs .is-active {
    background-color:#e6e6e6;
    border:1px solid;}
  .tabs-content {
  border:0;}
  
  .tabs li a {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
  }
  
  #report-cards { 
    display:inline-flex;
    flex-direction:row;
  }
  
  
  
  .accordion .letter,
  .accordion .dept{
  max-width: 10%;
  }
  
  .pillar-title { text-align:center; }
  
  .pillar {
    width:fit-content;
    list-style-type:none;
    margin:2rem;
    border-bottom: solid 2px transparent;
  }
  
  .pillar:hover{
    cursor:pointer;
    border-bottom: solid 2px black;	
  }
  
  
  
  
  /* Rubric grading table */
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }
    
    th, td {
      padding: 15px;
      text-align: left;
      border: 1px solid #dddddd;
    }
    
    th {
      background-color: #1E385B;
      color: white;
    }
    
    td ul {
      list-style-type: none;
      padding-left: 0;
    }
    
    td ul li {
      margin-bottom: 8px;
      padding-left: 10px;
      text-indent: -10px;
      position: relative;
    }
    
    td ul li:before {
      content: "•";
      position: absolute;
      left: 0;
      color: black;
    }
    
    /* Styles for indicator levels */
    
    .leading {
      background-color: #72B439;
      color: white;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
    }
    
    .embedding {
      background-color: #FFD966;
      color: white;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
    }
    
    .developing {
      background-color: #AF8439;
      color: white;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
    }
    
    .weak {
      background-color: #D54E4A;
      color: white;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
    }
    
    .unable-to-rate {
      background-color: #4F4F4F;
      color: white;
      font-weight: bold;
      text-align: center;
      vertical-align: top;
    }
  
  
  .summary-title {
    margin: auto;
    max-width: fit-content;
    border-bottom: 2px solid black;
  }
    
  
  .btn {
  margin-top:.5rem;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  text-align: center;
  cursor: pointer;
  }
  
  .btn:hover {
  background-color: #e6dcca;
  color: black;
  }
  
  .fa-book,
  .fa-home {
  padding-left:.3rem
  }
  
  .row .medium-8 p {margin-top:2rem;}
  
  #summary h2 { 
    max-width:fit-content;
    border-bottom: 2px solid;
    margin:auto;
  }
  
  #summary .row,
  #summary .row .columns p{padding-top:1rem;}